<br><br><br>
<h1> Build a Kart </h1>

<div class="flashmessage">
    <% if @kart.errors.full_messages != [] %>
        <%= @kart.errors.full_messages %>
    <% end %>
</div>

<%= form_for @kart do |f| %>
    
    <%= f.text_field :name, placeholder: "Kart Name", required: true %>
    <%= f.collection_select :driver, Kart::DRIVERS, :to_s, :to_s, include_blank: "Driver" %>
    <%= f.collection_select :body, Kart::BODIES, :to_s, :to_s, include_blank: "Kart" %>
    <%= f.collection_select :wheels, Kart::WHEELS, :to_s, :to_s, include_blank: "Wheels" %>

    <%= f.collection_select :club_id, Club.all, :id, :name, include_blank: "Pick a Club" %>

        <%= f.fields_for :club do |g| %>
            <%= g.text_field :name, placeholder: "Club Name" %>
        <% end %>

    <div class="formbutton"><%= f.submit "Build this Kart" %></div>
<% end %>