<br><br><br>
<h1><%= @kart.name %></h1>
<div class="kart">

    <div class="Stars" style="--rating: <%= @kart.average_rating %>;" aria-label="Avg Kart rating: <%= @kart.average_rating %>." ></div> 
    
    <h3> <%= @kart.club.name %> </h3>

    <% if @kart.user.id != @user.id %>
        <%= link_to "Review this Kart", "/karts/#{@kart.id}/reviews/new" %>
    <% end %>

<% if false %>
<%= @kart.driver %> | <%= @kart.body %> | <%= @kart.wheels %>
<% end %>
<div class="builder">
    <% if @kart.driver == 'Trooper' %>
        <%= image_tag ("Trooper.png"), class:"component" %>
    <% elsif @kart.driver == 'Knome' %>
        <%= image_tag ("Knome.png"), class:"component" %>
    <% else %>
        <%= image_tag ("Racer.png"), class:"component" %>
    <% end %>

    <% if @kart.wheels == 'Steele' %>
        <%= image_tag ("Steele.png"), class:"component" %>
    <% elsif @kart.wheels == 'Star' %>
        <%= image_tag ("Star.png"), class:"component" %>
    <% else %>
        <%= image_tag ("Solid.png"), class:"component" %>
    <% end %>

    <% if @kart.body == 'CyTruck' || @kart.body == 'Cytruck' %>
        <%= image_tag ("Cytruck.png"), class:"component" %>
    <% elsif @kart.body == 'Magnam' %>
        <%= image_tag ("UnderConstruction.png"), class:"component" %>
    <% elsif @kart.body == 'Dover Mobile' %>
        <%= image_tag ("DoverMobile.png"), class:"component" %>
    <% else %>
        <%= image_tag ("Panda.png"), class:"component" %>
    <% end %>
</div>

</div>
<div class="reviews">
<blockquote class="review-content">
    <% if @kart.reviews.count == 0 %>
        <p> This Kart has no Reviews </p>
    
    <% else %>
        <% @kart.reviews.each do |review| %>
            <p><%= review.content %></p>
            <div class="Stars" style="--rating: <%= review.rating %>;" aria-label="Kart rating is <%=review.rating%> out of 4." ></div> 
            <cite><%= review.user.username %></cite>
        <% end %>
    <% end %>
</blockquote>
</div>
<br>

<% if @kart.user.id == @user.id %>
    <div class="container-start">
    <div class="flashmessage"><%= link_to "DELETE KART", kart_path(@kart), confirm: 'Send you Kart to the Junkyard', method: :delete %></div>
<% end %>

</div>