<br><br><br>
<h1><%= @kart.name %></h1>

<%# center under name %>
<h3 class="Stars" style="--rating: 3.4;" aria-label="Avg Kart rating: 3.4." ></h3> 

<h3> <%= @kart.club.name %> </h3>

<p> <%= @kart.driver %> | <%= @kart.body %> | <%= @kart.wheels %></p>

<% if @kart.user.id != @user.id %>
    <p> <%= link_to "Review this Kart" %> </p>
<% end %>

<div class="reviews">
<blockquote class="review-content">
    <% if @kart.reviews.count == 0 %>
        <h3> This Kart has no Reviews </h3>
    <% else %>
        <% @kart.reviews.each do |review| %>
            <p><%= review.content %></p>
            <div class="Stars" style="--rating: <%= review.rating %>;" aria-label="Kart rating is <%=review.rating%> out of 4." ></div> 
            <cite><%= review.user.username %></cite>
        <% end %>
    <% end %>
</blockquote>
</div>

<br>
<div class="flashmessage"><%= link_to "DELETE KART", [@kart], :confirm => 'Send you Kart to the Junkyard', :method => :delete %></div>