<br><br><br>
<h1><%= @kart.name %></h1>

<h3> <%= @kart.club.name %> </h3>

<p> <%= @kart.driver %> | <%= @kart.body %> | <%= @kart.wheels %></p>

<% if @kart.user.id != @user.id %>
    <p> <%= link_to "Review this Kart" %> </p>
<% end %>

<% if @kart.reviews.count == 0 %>
    <p> This Kart has no Reviews </p>
<% else %>
    <% @kart.reviews.each do |r| %>
    <ul>    
        <li><%= r.rating %> - <%= r.content %></li>
    </ul>
    <% end %>
<% end %>

<br>
<h3><%= link_to "DELETE KART" %></h3>