<br><br><br>
<h1><%= @kart.name %></h1>
<div class="kart">

    <div class="Stars" style="--rating: <%= @kart.average_rating %>;" aria-label="Avg Kart rating: <%= @kart.average_rating %>." ></div> 
    
    <h3> <%= @kart.club.name %> </h3>

    <% if @kart.user.id != @user.id %>
        <%= link_to "Review this Kart", "/karts/#{@kart.id}/reviews/new" %>
    <% end %>

    <p> <%= @kart.driver %> | <%= @kart.body %> | <%= @kart.wheels %></p>

</div>
<div class="reviews">
<blockquote class="review-content">
    <% if @kart.reviews.count == 0 %>
        <p> This Kart has no Reviews </p>
    
    <% else %>
        <% @kart.reviews.each do |review| %>
            <p><%= review.content %></p>
            <div class="Stars" style="--rating: <%= review.rating %>;" aria-label="Kart rating is <%=review.rating%> out of 4." ></div> 
            <cite><%= review.user.username %></cite>
        <% end %>
    <% end %>
</blockquote>
</div>
<br>
<div class="container-start">
<div class="flashmessage"><%= link_to "DELETE KART", [@kart], :confirm => 'Send you Kart to the Junkyard', :method => :delete %></div>
</div>