<br><br><br>
<h1> Kart Reviews </h1>
<div class="reviews">
    <h3> Select a Kart Name to Add a Review </h3>
    
    <% @reviews.sort_by(&:rating).reverse.each do |review|%>
        <blockquote class="review-content">
            <h3>
                <%= link_to review.kart.name, kart_path(review.kart.id) %> 
                <div class="Stars" style="--rating: <%=review.rating%>;" aria-label="Kart rating is <%=review.rating%> out of 4."></div>
            </h3>
            <p><%= review.content %></p>
            <cite><%= review.user.username %></cite>
        </blockquote>
    <% end %>

    <% @karts.each do |kart| %>
    
        <% if kart.reviews.count == 0 %>
        <blockquote class="review-content">
            <h3> 
            <%= link_to kart.name, kart_path(kart.id) %>
            <div class="Stars" style="--rating: ★★★★;"></div>
            </h3>
            <h4><%= "This Kart has no Reviews"%></h4>
        </blockquote>
        <% end %>
    <% end %>
    
</div>