<br><br><br>

<h1> Review <%= @kart.name %> </h1>

<div class="flashmessage">
    <%= flash[:message] %>
</div>

<div class="build">
    <%= form_for(@review) do |f| %>

        <%= f.collection_select :rating, Review::RATING, :to_i, :to_i, include_blank: "Rate from 1-4"%>
        <%= f.text_area :content, placeholder: "Add your review comments here....", maxlength: 150 %>

        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :kart_id %>

        <%= f.submit %>
    <% end %>
</div>